@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any custom css for Cards */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px;
  outline: 0;
}

*::-webkit-scrollbar {
  display: none;
}

/* CSS for SignUpForm */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 80em;
  padding: 40px;
  background-color: #f2f2f2;
  box-shadow: -4px -4px 5px #0beacc;
  border-radius: 20px;
}

.form-container h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bolder;
}

.form-container form {
  display: grid;
  width: 90%;
  background-color: #233142;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  box-shadow: 5px 6px 4px rgb(114, 209, 250);
  padding: 20px;
}

.form-container form label {
  font-size: 1em;
  color: #f2f2f2;
  font-weight: bolder;
  margin-bottom: 5px;
  font-style: italic;
}

.form-container form .personal-details {
  /* background: crimson; */
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  gap: 1em;
}

.form-container form .left-side {
  /* background: greenyellow; */
  grid-column: 1 / span 1;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  padding: 1em;
}

.form-container form .right-side {
  /* background: blueviolet; */
  grid-column: 2 / span 1;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  padding: 1em;
}

.form-container form .controls {
  /* background: yellow; */
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container form section.form-section div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-container form section.form-section div input {
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 20em;
  color: #333;
  background-color: #f2f2f2c2;
}

.form-container form section.form-section div input:focus {
  background-color: #333;
  color: rgb(244, 225, 12);
  border: 2px solid rgb(8, 232, 202);
}

.form-container form section.form-section div textarea {
  resize: none;
  color: #333;
  background-color: #f2f2f2c2;
  padding: 20px;
  width: 500px;
  height: 150px;

  margin-bottom: 1em;
}

.form-container form section.form-section div textarea:focus {
  background-color: #333;
  color: rgb(220, 184, 27);
  border: 2px solid rgb(8, 232, 202);
}

.form-container form section.form-section div select {
  color: #333;
  background-color: #f2f2f2c2;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 20em;
}

.form-container form section.form-section div select:focus {
  background-color: #333;
  color: rgb(12, 244, 225);
  border: 2px solid rgb(8, 232, 202);
}

.form-container form section.form-section div.gender {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 20em;
  height: max-content;
}

.form-container form section.form-section div.gender label {
  font-weight: normal;
  font-style: normal;
}

.form-container form section.form-section div.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-container form section.form-section div.skills-wrapper div {
  display: grid;
  grid-template-columns: 10px auto;
  /* background-color: yellowgreen; */
}

.form-container form section.form-section div.skills-wrapper div input:checked + label {
  color: rgb(12, 244, 225);
}

.form-container form .controls button {
  padding: 20px;
  width: 10em;
  color: #f3ebeb;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bolder;
}

.form-container form .controls button#submit {
  border: 2px solid white;
  background-color: #7dd87d;
  color: #333;
}

.form-container form .controls button#reset {
  border: 2px solid white;
  background-color: #f95959;
}

.form-container form .controls button#submit:hover {
  background-color: #333;
  color: #7dd87d;
  border: 2px solid #7dd87d;
}

.form-container form .controls button#reset:hover{
  background-color: #333;
  color: #f95959;
  border: 2px solid #f95959;
}

